<div class="col-md-3 text-right mt-1 mb-4 pr-4">
    <h3 class="mt-0"><a href="/" class="text-dark">Unreal<span class="text-danger">Threads</span></a></h3>
    <ul class="list-unstyled text-muted">
      <li>Gaurav Verma</li>
      <li>Software Engineer & Spiritual Seeker</li>
      <li>
        <span class="pl-2"><a class="text-muted" href="https://twitter.com/diszgaurav"><i class="fab fa-google-plus-g"></i></a></span>
        <span class="pl-2"><a class="text-muted" href="https://twitter.com/diszgaurav"><i class="fab fa-twitter"></i></a></span>
        <span class="pl-2"><a class="text-muted" href="https://github.com/diszgaurav"><i class="fab fa-github"></i></a></span>
        <span class="pl-2"><a class="text-muted" href="mailto:diszgaurav@gmail.com"><i class="far fa-envelope"></i></a></span>
      </li>
    </ul>
</div>
