{{ partial "header.html" . }}
{{ partial "sidebarleft.html" . }}
<div class="col-md-6 mt-3 mb-3">
    <!-- <div class="jumbotron bg-dark text-light mb-0">
         <h1>{{ .Title }}</h1>
         </div> -->
    <div class="page-title mb-3">
        <h1>{{ .Title }}</h1>
        <p class="text-muted text-right small mt-0">In {{ .Params.Categories }} On {{ dateFormat "Monday, Jan 2, 2006" .Page.Date }}</p>
    </div>
    {{ .Content }}
</div>
{{ partial "sidebarright.html" . }}
{{ partial "footer.html" . }}
