{{ partial "header.html" . }}
{{ partial "sidebarleft.html" . }}
<div class="col-md-6 mt-3">
    <h1>Posts</h1>
    <hr class="text-warning"/>
    <ul>
        {{ range first 10 .Data.Pages }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <span class="text-right text-muted">{{ .Params.Categories }}  {{ dateFormat "Monday, Jan 2, 2006" .Date }}</span>
        </li>
        {{ end }}
    </ul>
</div>
{{ partial "sidebarright.html" . }}
{{ partial "footer.html" . }}
