{{ partial "header.html" . }}
{{ partial "sidebarleft.html" . }}
<div class="col-md-6 mt-3">
    <h1>Posts</h1>
    <hr class="text-warning"/>
    <ul class="list-unstyled">
        {{ range .Data.Pages }}
        <li>
            <span class="text-muted pull-right"><small>{{ dateFormat "Jan 02, 2006" .Date }}</small></span>
            &nbsp
            <span class="pull-left"><a href="{{ .Permalink }}">{{ .Title }}</a></span>
        </li>
        {{ end }}
    </ul>
</div>
{{ partial "sidebarright.html" . }}
{{ partial "footer.html" . }}
